*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #ececf1;
}
:root{
  --bg-body: #444654;
  --bg-header: #202123;
}

body{
  background: #444654;
  position: relative;
}